<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Esteban Espinoza Fallas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Practica #2 PW Esteban Espinoza Fallas</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">PRÁCTICA 2</a>
            <ul class="right hide-on-med-and-down">
                <li class="active">
                    <a href="home">HOME</a>
                </li>
                <li><a href="books">Books</a></li>
                <li><a href="authors">Authors</a></li>
                <li><a href="publishers">Publishers</a></li>
            </ul>
        </div>
    </nav>
    <hr><br>
    <div class="container">
        <div class="row">
            <div class="col m4">
                <div class="card center">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/books.jpg" style="height: 405px;">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Books</span>
                        <p><a href="/books">MORE</a></p>
                    </div>
                </div>
            </div>
            <div class="col m4">
                <div class="card center">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/authors.png" style="height: 405px;">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Authors</span>
                        <p><a href="/authors">MORE</a></p>
                    </div>
                </div>
            </div>
            <div class="col m4">
                <div class="card center">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/publishers.jpg" style="height: 405px;">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Publishers</span>
                        <p><a href="/publishers">MORE</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>